[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coursekata"]
	path = coursekata
	url = https://github.com/coursekata/coursekata-r
